@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<h3>Blazor Server pages</h3>
<h4>Authorized</h4>
<ul>
    <li>
        <a href="/b/persons">Persons</a>
    </li>
</ul>
<h4>Unauthorized</h4>
<ul>
    <li>
        <a href="/b/counter">Counter</a>
    </li>
    <li>
        <a href="/b/fetchdata">Fetch Data: weather forecast</a>
    </li>
</ul>