@page "/register"
@using BlazorWasmHosted.Shared.DTOs
@using BlazorWasmHosted.Client.Services
@using BlazorWasmHosted.Client.Clients
@inject AuthenticationHttpClient Http

<PageTitle>Register</PageTitle>

<h1>Register</h1>

@if (!_succeeded)
{
  <EditForm Model="@_userRegisterDto" OnValidSubmit="@HandleValidSubmit">
    <CustomValidation @ref="_customValidation"/>
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-3">
      <InputText class="form-control" id="Email" @bind-Value="_userRegisterDto.Email" placeholder="Email"/>
    </div>

    <div class="mb-3">
      <InputText class="form-control" id="Password" @bind-Value="_userRegisterDto.Password" placeholder="Password"/>
    </div>

    <div class="mb-3">
      <InputText class="form-control" id="ConfirmPassword" @bind-Value="_userRegisterDto.ConfirmPassword" placeholder="Confirm password"/>
    </div>

    @if (!_registering)
    {
      <button class="btn btn-primary" type="submit">Submit</button>
    }
    else
    {
      <p>
        Registering...
      </p>
    }
  </EditForm>
}
else
{
  <p>
    Registration successful! <a href="login">Click here to login</a>.
  </p>
}

@code {
  private readonly UserRegisterDto _userRegisterDto = new();
  private CustomValidation? _customValidation;
  private bool _registering;
  private bool _succeeded;

  private async Task HandleValidSubmit()
  {
    _registering = true;

    var result = await Http.RegisterUser(_userRegisterDto);

    if (result is {Succeeded: true })
    {
      _succeeded = true;
    }
    else
    {
      _customValidation?.ClearErrors();
      var errors = new Dictionary<string, List<string>> {{"", result?.Errors.ToList()}};
      _customValidation?.DisplayErrors(errors);
    }

    _registering = false;
  }

}
