@page
@model Index
@{
}

<ul>
    <li>
        <a asp-page="/CityManager/Create">Manage cities: create</a>
    </li>
    <li>
        <a asp-page="/ClaimsManager/Index">Manage claims</a>
    </li>
    <li>
        <a asp-page="/CountryManager/Edit">Manage Country</a>
    </li>
    <li>
        <a asp-page="/PropertyManager/Index">Manage properties</a>
    </li>
    <li>
        <a asp-page="/RolesManager/Index">Manage roles</a>
    </li>
</ul>