@page "/auth/logout"
@using BlazorJwtAuth.Client.Service.Clients
@inject AuthenticationHttpClient Http
@inject NavigationManager NavigationManager

<h1>Logout</h1>

<text>Logging out...</text>

@code {

  protected override async Task OnInitializedAsync()
  {
    await Http.LogoutUser();
    NavigationManager.NavigateTo("auth/login");
  }

}
