<ul class="pagination">
    @for (var i = 1; i <= Model?.PagingInfo.TotalPages; i++)
    {
        <li class="page-item @(i == Model?.PagingInfo.CurrentPage ? "active" : "")">
            @{
                var i1 = i;
            }
            <a asp-page="/List"
               asp-route-productPage="@i1"
               asp-route-category="@Model?.CurrentCategory"
               class="page-link">
                @i1
            </a>
        </li>
    }
</ul>