@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<h3>Blazor Server pages</h3>
<ul>
    <li>
        <a href="/b/persons">Persons</a>
    </li>
    <li>
        <a href="/b/articles">Articles</a>
    </li>
</ul>