@page "/fluentui"

<FluentCard>
    <h2>Hello FluentCard</h2>
    <ul>
        <li>
            <FluentAnchor Href="/fluentui/accordion">Accorihdion</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/fluentui/Slider">Slider</FluentAnchor>
        </li>
    </ul>
</FluentCard>