@page
@model ListModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>SportsStore</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet"/>
</head>
<body>
<div class="bg-dark text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col navbar-brand">SPORTS STORE</div>
            <div class="col-6 navbar-text text-end">
                <vc:cart-summary/>
            </div>
        </div>
    </div>
</div>
<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        <div class="d-grid gap-2">
            <a class="btn btn-outline-secondary" asp-page="/List">
                Home
            </a>
            @foreach (var category in Model.Categories)
            {
                <a class="btn @(category == Model.CurrentCategory ? "btn-primary" : "btn-outline-secondary")"
                   asp-page="/List"
                   asp-route-category="@category"
                   asp-route-productPage="1">
                    @category
                </a>
            }
        </div>
    </div>
    <div class="col-9">
        @foreach (var p in Model?.Products ?? Enumerable.Empty<Product>())
        {
            <partial name="ProductSummary" model="p"/>
        }
        <partial name="Shared/Components/Pager" for="@Model"/>
    </div>
</div>
</body>
</html>