@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Pages</h2>
<ul>
    <li>
        <a asp-page="Movies/Index">Movies/Index</a>
    </li>
    <li>
        <a asp-page="Samples/Index">Samples/Index</a>
    </li>
</ul>
