@inherits LayoutComponentBase

<h4 style="text-align: right;">
    <a href="/">blazor index</a>
    <a href="/account/index">account/index</a>
    <a href="/account/login">Login</a>
    <a href="/account/logout">Logout</a>
</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @Body
        </div>
    </div>
</div>