@page
@model EfCoreBlazorServerStatic.Pages.Account.Index

<h3>Razor Pages</h3>
<ul>
    <li>
        <a href="/account/login">Login</a>
    </li>
    <li>
        <a href="/account/logout">Logout</a>
    </li>
    <li>
        <a href="/articles">articles</a>
    </li>
</ul>

<h3>Blazor Server pages</h3>
<ul>
    <li>
        <a href="/">Blazor index</a>
    </li>
    <li>
        <a href="/b/persons">Persons</a>
    </li>
</ul>