@page
@model IdentityByRazorPages.Pages.Account.Index

<h3>Razor Pages Account/Index</h3>
<ul>
    <li>
        <a href="/account/login">Login</a>
    </li>
    <li>
        <a href="/account/authorized">Authorized</a>
    </li>
    <li>
        <a href="/account/unauthorized">Unauthorised</a>
    </li>
    <li>
        <a href="/account/logout">Logout</a>
    </li>
</ul>

<h3>Blazor Server pages</h3>
<h4>Authorized</h4>
<ul>
    <li>
        <a href="/b/person">Person</a>
    </li>
</ul>
<h4>Unauthorized</h4>
<ul>
    <li>
        <a href="/">Blazor index</a>
    </li>
    <li>
        <a href="/b/counter">Counter</a>
    </li>
    <li>
        <a href="/b/fetchdata">Fetch Data: weather forecast</a>
    </li>
</ul>